/* Reset sederhana */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

/* Header */
header {
  background: #640D5F;
  color: white;
  padding: 20px 0;
}

header h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Section */
.hero {
  background: url("smk.jpg") no-repeat center center/cover;
  color: white;
  padding: 80px 0;
  text-align: center;
}

/* Tambahan untuk nomor 4 */
.judul-besar {
  font-size: 48px;
}

.subjudul {
  font-size: 24px;
}

.hero .btn {
  background: #ffcc00;
  padding: 10px 20px;
  margin-top: 20px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* Content Sections */
.content {
  padding: 40px 0;
  background-color: white;
}

.content.gray {
  background-color: #eaeaea;
}

.content h3 {
  margin-bottom: 20px;
}

.content ul {
  list-style: square;
  padding-left: 20px;
}

/* Footer */
footer {
  background: #640D5F;
  color: white;
  text-align: center;
  padding: 15px 0;
}

/* Dark Mode */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header,
body.dark-mode footer {
  background: #222;
}

body.dark-mode .content {
  background-color: #1e1e1e;
}

body.dark-mode .content.gray {
  background-color: #2a2a2a;
}

//* Tombol Dark Mode di kanan atas */
#darkModeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  background: #640D5F;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;
  font-size: 14px;
}


/* Tombol Scroll to Top */
#scrollTopBtn {
  display: none; /* sembunyi default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #640D5F;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 50%;
}

#scrollTopBtn:hover {
  background-color: #45083d;
}
/* Header flex agar h1 dan tombol dark mode sejajar */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px; /* jarak antara h1 dan tombol */
}

#darkModeToggle {
  background: #640D5F;
  color: white;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

#darkModeToggle:hover {
  background: #45083d;
}

